<div class="min-w-[906px] max-h-screen w-full">
  <div class="w-full flex items-center justify-between px-4">
    <div>
      <p 
        [ngClass]="buttonClass"
        class="text-white text-2xl font-bold px-1 py-2" >
        JAYARA FERREIRA
      </p>
    </div>

    <div class="flex items-center space-x-2">
      <button [ngClass]="buttonClass">LANÇAMENTOS</button>
      <button [ngClass]="buttonClass">SOBRE MIM</button>
      <button [ngClass]="buttonClass" aria-label="Instagram" class="pt-1" (click)="openInstagram()">
        <img src="/insta.svg" alt="Instagram" class="h-6 w-6" />
      </button>
      <button [ngClass]="buttonClass" aria-label="Spotify" class="pt-1" (click)="openSpotify()">
        <img src="/spot.svg" alt="Spotify" class="h-6 w-6" />
      </button>
      <button [ngClass]="buttonClass" aria-label="YouTube" class="pt-1" (click)="openYoutube()">
        <img src="/yt.svg" alt="YouTube" class="h-6 w-6" />
      </button>
      <button [ngClass]="buttonClass" aria-label="TikTok" class="pt-1" (click)="openTiktok()">
        <img src="/tik.svg" alt="TikTok" class="h-6 w-6" />
      </button>
    </div>
  </div>
  <div class="flex flex-col items-center z-10" style="top:1000px; left:50%;">
      <p 
        class="text-white text-5xl font-bold px-4 py-2">
        NOVO SINGLE
      </p>
      <button [ngClass]="buttonClass2" class="mt-2" (click)="openLinkTree()">
        <span>OUVIR</span>
      </button>
  </div>
</div>